.card {
    margin-left: 5px;
    margin-bottom: 5px;
    width: 250px;
    min-width: 200px;
    height: 350px;
    min-height: 250px;
    border-radius: 15px;
    border: solid 3px;
    /* border-color: #E9BBB1 ;
    background: #E9BBB1; */
}

.personagem {
    margin-top: 2px;
    margin-left: 1%;
    background: #EBE8F8;
    height: 45%;
    width: 98%;
    border-radius: 10px 10px 0 0;
}

.card .personagem .imagem {
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

.card .personagem .imagem img {
    height: 100%;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.desc {
    margin-top: 2%;
    margin-left: 1%;
    background: #EBE8F8;
    height: 52%;
    width: 98%;
    border-radius: 0 0 10px 10px;
}

.desc .nome {
    font-size: 1.7rem;
}

.desc .habilidade0 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 5%;
    
}

.desc .habilidade1 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 5%;
    
}

.desc .habilidade2 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 5%;
    
}

.desc .habilidade3 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 5%;
    
}